/* var css */
* {
    box-sizing: border-box;
}

body{
    background-color: white;
    background-position: center;

        @media screen and (max-width: 550px){
        .container{
            margin-inline: 1rem;
        }

        .card-data {
            width: 250px;
            padding: 1rem;
        }
    }

        @media screen and (min-width: 750px){
        .card-container{
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1.5rem;
        }
    }
    @media screen and (min-width: 1120px){
        .container{
            height: 100vh;
        }

        .card-container{
            grid-template-columns: repeat(3, 1fr);
        }
        .card-img{
            width: 348px;
        }
        .card-data{
            width: 316px;
            padding-inline: 2.5rem;
        }
    }
}

.header-theme-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-theme-krant{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* info buurtcampus */

main .algemeene-info{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.img-voorpagina{
    grid-area: 3 / 3 / 5 / 9;;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid var(--steenGrijs);
    border-radius: 8px;
    box-shadow: 0.2px 6px rgba(0, 0, 0, 0,1);
    line-height: 1.6;
    font-size: 1rem;
}
.article-preview{
     display: flex;
     gap: 0;
     flex-direction: column;
     align-items: center;
     max-width: 1100px;
     margin: auto;

     img {
            width: 100%;
            object-fit: cover;
            border-radius: .5em .5em 0 0;
            height: 350px;

            @media screen and (min-width: 750px){ 
                height: 25em;
                width: 50%;
                border-radius: .5em 0 0 .5em;
            }
        }

     .article-info {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        padding: 2em 2em 2em 2em;
        background-color: var(--luchtBlauw);
        border-radius: 0 0 .5em .5em;

        @media screen and (min-width: 750px){ 
            height: 25em;
            border-radius: 0 .5em .5em 0;
        }

        h2, p {
            margin: 0;
        }
     }

     @media screen and (min-width: 750px){ 
        flex-direction: row;

    }
}

.small-article-preview{ 
    grid-area: 8 / 1 / 9 / 11;
    max-width: 800px;
    margin: 40px auto;
    background-color: var(--steenGrijs);
    padding: 30px;
    border: 1px solid var(--steenGrijs);
    border-radius: 8px;
    box-shadow: 0.2px 6px rgba(0, 0, 0, 0,1);
    line-height: 1.6;
    font-size: 1rem;
}

/* locaties */
.container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    background-color: var(--kauwgomRoze);
    border-radius: 1em;
}

.card-container {
    display: grid;
    row-gap: 3.5rem;
}

.card-article {
    position: relative;
    overflow: hidden;
}

.card-img {
    width: 328px;
    border-radius: 1.5rem;
}

.card-data {
    width: 280px;
    background-color: #f0f0f0;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsl(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transform: opacity 1s 1s;
    overflow: hidden;
}

.card-description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.card-title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
}

.card-button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--torenoranje);
}

.card-button:hover {
    text-decoration: underline;
}

/* naming animation in hover */
.card-article:hover .card-data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card-article:hover {
    animation: remove-overflow 2s forwards;
}

.card-article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data{
    animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow: initial
    }
}

@keyframes remove-data {
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
     100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

.footer{
    background: var(modder);
    color: var(--primaryAccent);
    padding: 40px;
    font-family: Arial, sans-serif;
}

.footer section{
    border: 2px solid var(--secondaryAccent);
    padding: 20px;
    margin-bottom: 30px;
}

.footer h2{
    margin-top: -20px;
    background: #001a4d;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.4rem;
    font-weight: bold;
}
.archive-links{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
}